Checks: |
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  security-*,
  -cppcoreguidelines-*,
  -modernize-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
AnalyzeTemporaryDtors: false